*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

#body_header {
    color: black;
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-size: 20px;
}

.conteiner {
    color: grey;
    width: 80%;
    margin: auto;
}

#navbar {
    background-color: rgb(66, 61, 61);
    color: white;
}

#navbar ul {
    padding-left: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0;
}

#navbar ul li{
    display: inline;
}

#navbar ul li a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

#showcase {
    height: 300px;
    width: 100%;
    background-image: url('foto.png');
    background-repeat: no-repeat;
    background-position: center right;
    margin-bottom: 40px;
    text-align: center;
}

#showcase h1 {
    margin: 0;
    color: white;
    font-size: 30px;
    padding-top: 45px;
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
}

#sidebar {
    float: right;
    color: white;
    width: 30%;
    background-color: rgb(66, 61, 61);
    text-align: center;
    padding: 20px;
    padding-bottom: 10px;
}

#body_footer {
    background-color: rgb(66, 61, 61);
    text-align: center;
    margin-top: 230px;
    padding-top: 45px;
    height: 100px;
}

#body_footer p {
    position: relative;
    color: rgb(255, 255, 255, 0.4);
    z-index: 0;
}

@media(max-width: 1190px) {
    .conteiner {
        display: flex;
        flex-direction: column;
    }

    #showcase {
        margin-top: 0px;
        height: 350px;
    }

    #showcase .conteiner {
        margin-right: auto;
        margin-left: auto;
    }

    #sidebar {
        margin-top: 15px;
        float: left;
        width: 200px;
        margin-left: 30px;
    }
}
